$text-color: #fb8500;
$font: "Helvetica, Arial, sans-serif";

$title-font-size: 24px;
$button-borders: solid #123456 2px;
$button-border-radius: 8px;
$button-padding: 4px;
$button-focus-color: #afb29c;
$button-focus-cursor: pointer;

main {
  div {
    font-family: $font;

    h1 {
      color: $text-color;
      font-size: $title-font-size;
    }

    button {
      border: $button-borders;
      border-radius: $button-border-radius;
      padding: $button-padding;

      &:hover {
        background-color: $button-focus-color;
        cursor: $button-focus-cursor;
      }
    }
  }
}
